.icon-list {
    height: 200px;
    overflow-y: scroll;

    :global {
        div {
            height: 30px;
            line-height: 30px;
            margin-bottom: -5px;
            cursor: pointer;
            width: 33%;
            float: left;
            display: flex;
            align-items: center;
        }

        span.icon-name {
            display: inline-block;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
            margin-left: 5px;
        }
    }
}