@import '~antd/dist/antd.css';


.App {
    display: flex;
    height: 100%;
}

.sideMenu {
    min-height: 100%;
    max-width: 200px;
}

.leftContent {
    flex: 1;
    min-height: 100%;
    overflow-y: scroll;
}

.header,
.flex {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    :global {
        .ant-btn {
            margin-right: 10px;
        }

        .ant-btn:last-child {
            margin-right: 0;
        }

        .login {
            span {
                padding: 0 10px;
                font-size: 14px;
            }

            span:last-child {
                cursor: pointer;
            }
        }

    }
}

.tagWrap {
    padding: 10px;
    box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.2);

    :global {
        .ant-tag {
            padding: 5px 10px;
            cursor: pointer;
        }

        .ant-breadcrumb>span:first-child a {
            color: rgba(0, 0, 0, 0.85);
        }

        .ant-breadcrumb>span:last-child {
            color: rgba(0, 0, 0, 0.45);
        }

        .ant-tag-blue a {
            color: #096dd9
        }

        .ant-menu-item-selected .ant-menu-item-icon {
            color: #fff !important;
        }
    }
}

.content {
    padding: 20px;
}